
body {
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    margin: 0;
    padding: 0;
    display: flex;
}
canvas {
    border: solid black 10px;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    /* position: absolute;
    top: 0;
    left: 0; */
  }

  p {
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 4%;
  }

  h1 {
    font-weight: 1000;
    font-size: x-large;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 4%;
  }

  ol {
    width: 30%;
    margin: auto;
  }

#pop-up {
    position: absolute;
    width: 80vw;
    height: 80vh;
    margin: auto;
    background-color: #ffffff;
    border: solid black 10px;
    border-radius: 10px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    overflow: auto;
}

#pop-up::-webkit-scrollbar {
    display: none;
  }

label#toggle-l {
    position: relative;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
}

#toggle:checked ~ div#pop-up {
    /* visibility: visible; */
    display: initial
}

#toggle:checked ~ div#pop-up {
    /* visibility: hidden; */
    display: none;
}

.visually-hidden {
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
}

#ii {
    position: absolute;
    top: 5;
    left: 5;
    width: 40px;
    height: 40px;
    background-color: black;
    border: solid gray 5px;
    border-radius: 10px;
}

#ii:hover {
    box-shadow: 0px 0px 20px 5px gray;
}

/* #pop-up:has(div#xx:active)  {
    display: none;
} */

#i-wrapper {
    position: relative;
    top: 0;
    left: 0;
}

#circle {
    position: relative;
    top: 5;
    left: 5;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
}

#xx {
    width: 200px;
    height: 40px;
    background-color: black;
    border: solid gray 5px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
}

#xx:hover {
    box-shadow: 0px 0px 20px 5px gray;
}

#xx p {
    color: white;
    width: 100%;
    margin: auto;

}







