body {
    margin: 0;
    background-color: white;
    min-height: 100%;
}

.title {
    text-align: center;
    margin-top: 5vh;
    color: navy;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 16pt;
}

main {
    margin-top: 50px;
    width: 100vw;
}

.closetwrapper {
    width: 100vw;
    margin: 16vw; 
    margin-top: 0vw;
    margin-bottom: 0vw;
}

.closet {
    float: left;
    display: grid;
    height: 425px;
    width: 150px;
    background-color: lightblue;
    text-align: center;
    margin: 4vw; 
    margin-top: 4vw;
    margin-bottom: 0vw;
    border: solid navy 10px;
}

#tops {
}

.top1 {

}
.top2 {

}
.top3 {

}

.bottom1 {

}
.bottom2 {

}
.bottom3 {

}

#shoes {
    flex-direction: column;
}

.shoe1 {

}
.shoe2 {

}
.shoe3 {

}

.outfit {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}
.topwrapper {

}
.bottomwrapper {

}
.shoewrapper {

}

.top {

}
.bottom {

}
.shoe {

}

img {
    max-width: 65%;
    height: auto;
    text-align: center;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 10px;
  } 

/* img:hover {
    transform: scale(1.2);
  } */
