
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF5733;
}

#darkmode:checked ~ * {
    filter: invert(1);
}

.title {
    position: fixed;
    text-wrap: nowrap;
    overflow: hidden;
    top: -15;
    left: 0;
}


.bg {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -5;
}

img {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 1000px) {
    img.bg-img {
        width: auto;
        height: 150%;
    }
}
 
.taskbar {
    width: 70vw;
    height: 50px;
    background-color: #6C8AB3;
    position: fixed;
    top: 82%;
    border-radius: 10vw;
    box-shadow: 0px 0px 20px 5px black;
    border: solid black 5px;
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    grid-template-columns: repeat(5, 20%);
    padding: 10px;
}
/* #6C8AB3 */
.icon {
    width: 50px;
    height: auto;
    margin: auto;
}

.icon:hover {
    scale: 1.25;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    color: black;
    background-color: #FF5733;
    border-radius: 5px;
    padding: 1px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    color: black;
    background-color: #FF5733;
    text-align: center;
    /* border-radius: 5px; */
    font-size: 18pt;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    color: black;
    background-color: #FF5733;
    text-align: center;
    /* border-radius: 5px; */
    font-size: 12pt;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    color: black;
    /* background-color: #FF5733; */
    text-align: left;
    /* border-radius: 5px; */
    padding: 20px;
    font-size: 10pt;
}

.file-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75px;
    border-radius: 15px;
    /* padding: 20px; */
}

.file-wrapper:hover > p {
    box-shadow: 0px 0px 20px 5px #FF5733;
    scale: 1.25;
}

p:hover {
    box-shadow: 0px 0px 20px 5px #FF5733;
    scale: 1.25;
}

.file-icon {
    width: 50px;
    height: auto;
    margin: auto;
    margin-top: 5px;
}

#s1 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    top: 7vh;
    width: 33vw;
}

/* flex-direction: column;
    justify-content: center;
    align-items: center; */

#s2 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 33vw;
    top: -25vh;
}

#s3 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 33vw;
    top: 8vh;

}

#container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

a {
    color: inherit; 
    text-decoration: inherit;
}

/* #king {
    position: absolute;
    left: 40px;
} */


.pop-up {
    position: absolute;
    top: 5vh;
    width: 700px;
    height: 500px;
    margin: auto;
    background-color: #6C8AB3;
    border: solid black 5px;
    border-radius: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    overflow: auto;
    box-shadow: 0px 0px 20px 5px black;
}

.buttons {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 750px) {
    .pop-up {
        width: 80vw;
    }
}

@media only screen and (max-height: 500px) {
    .pop-up {
        height: 50vh;
    }
}

.pop-up::-webkit-scrollbar {
    display: none;
  }

.visually-hidden {
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
}

#s1a1-check:checked ~ div#s1a1 {
    /* visibility: visible; */
    display: initial;
}

#s1a1-check:checked ~ div#s1a1 {
    /* visibility: hidden; */
    display: visible;
}

#s1a2-check:checked ~ div#s1a2 {
    /* visibility: visible; */
    display: initial;
}

#s1a2-check:checked ~ div#s1a2 {
    /* visibility: hidden; */
    display: visible;
}

#s1a3-check:checked ~ div#s1a3 {
    /* visibility: visible; */
    display: initial;
}

#s1a3-check:checked ~ div#s1a3 {
    /* visibility: hidden; */
    display: visible;
}

#s2a1-check:checked ~ div#s2a1 {
    /* visibility: visible; */
    display: initial;
}

#s2a1-check:checked ~ div#s2a1 {
    /* visibility: hidden; */
    display: visible;
}

#s2a2-check:checked ~ div#s2a2 {
    /* visibility: visible; */
    display: initial;
}

#s2a2-check:checked ~ div#s2a2 {
    /* visibility: hidden; */
    display: visible;
}

#s2a3-check:checked ~ div#s2a3 {
    /* visibility: visible; */
    display: initial;
}

#s2a3-check:checked ~ div#s2a3 {
    /* visibility: hidden; */
    display: visible;
}

#s3a1-check:checked ~ div#s3a1 {
    /* visibility: visible; */
    display: initial;
}

#s3a1-check:checked ~ div#s3a1 {
    /* visibility: hidden; */
    display: visible;
}

#s3a2-check:checked ~ div#s3a2 {
    /* visibility: visible; */
    display: initial;
}

#s3a2-check:checked ~ div#s3a2 {
    /* visibility: hidden; */
    display: visible;
}

#s3a3-check:checked ~ div#s3a3 {
    /* visibility: visible; */
    display: initial;
}

#s3a3-check:checked ~ div#s3a3 {
    /* visibility: hidden; */
   
    display: visible;
}

#notes-check:checked ~ div#notes {
    /* visibility: visible; */
    display: initial;
}

#notes-check:checked ~ div#notes {
    /* visibility: hidden; */
   
    display: visible;
}

.olivia {
    width: 75px;
    height: auto;
    margin: auto;
}

#apple {
    position: absolute;
    top: 100;
    left: 400;
    transform: rotate(-30deg);
}

#hat {
    position: absolute;
    top: 30;
    left: 100;
}

#leather {
    position: absolute;
    top: 300;
    left: 500;
}

#jorts {
    position: absolute;
    top: 500;
    left: 100;
}

#glasses {
    position: absolute;
    top: 250;
    left: 900;
}

#sweater {
    position: absolute;
    top: 150;
    left: 1200;
    transform: rotate(-40deg);
}

#skirt{
    position: absolute;
    top: 100;
    left: 1300;
}