
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF5733;
}

.bg {
    height: 100vh;
    width: 100vw;
    position: fixed;
}

img {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 900px) {
    img.bg-img {
        width: auto;
        height: 175%;
    }
}
 
.taskbar {
    width: 70vw;
    height: 50px;
    background-color: #6C8AB3;
    position: fixed;
    top: 85%;
    border-radius: 10vw;
    box-shadow: 0px 0px 20px 5px black;
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    grid-template-columns: repeat(5, 20%);
}
/* #6C8AB3 */
.icon {
    width: 50px;
    height: auto;
    margin: auto;
}

.icon:hover {
    box-shadow: 0px 0px 20px 5px #FF5733;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    color: black;
    background-color: #FF5733;
    border-radius: 5px;
    /* margin-top: 2px; */
}

.file-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75px;
    border-radius: 15px;
    /* padding: 20px; */
}

.file-wrapper:hover > p {
    box-shadow: 0px 0px 20px 5px #FF5733;
}

p:hover {
    box-shadow: 0px 0px 20px 5px #FF5733;
}

.file-icon {
    width: 50px;
    height: auto;
    margin: auto;
    margin-top: 5px;
}

#s1 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    top: 5vh;
    width: 33vw;
}

/* flex-direction: column;
    justify-content: center;
    align-items: center; */

#s2 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 33vw;
    top: -25vh;
}

#s3 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 33vw;
    top: 6vh;

}

