body {
    background-color: lightblue;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15vw;
    margin-top: 75px;
    width: 70vw;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.mysticker {
    background-color: #FFF1D8;
    border-radius: 10%;
    max-width: 20vw;
    height: 14.4vw;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    justify-content: center;
}

.title {
    text-align: center;
    margin-top: 100px;
    color: navy;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 16pt;
}

.grid {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    width: 33%;
    height: 35%;
    flex-direction: row;
    align-items: center;
}

img {
    max-width: 65%;
    height: auto;
    text-align: center;
    margin: auto;
    align-items: center;
    justify-content: center;
  }

img:hover {
    transform: scale(1.2);
  }

