@font-face {
    font-family: 'Devilish';
    src: url('assets/devilish/Devilish-StyleOne.otf') format('opentype'),
         url('assets/devilish/Devilish-StyleOne.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Kindest';
    src: url('assets/kindest-realitydemo/KindestReality_DEMO.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }


/* darker pink: #A0153E */

body {
    background-color: #070F2B;
    background-image: url(assets/background.png);
    background-size: 35%;
    width: 100vw;
    height: 97vh;
    display: flex;
    justify-content: center; 
}
main {
    width: 80vw;
    height: 90vh;
    background-color: #00224D;
    display: inline-block;
    justify-content: center;
    overflow: auto;
    margin-top: 4.5vh;
    margin-bottom: 4.5vh;
    border-radius: 20px;
    border: solid #FF204E 4px;
}

main::-webkit-scrollbar {
  display: none;
}

.emph {
    color: #FF204E;
    font-family: 'Devilish';
    font-size: 40pt;
}

img {
    width: 100%;
    height: auto;
    /* text-align: center; */
    /* margin: auto; */
    /* align-items: center; */
    /* justify-content: center; */
  } 

.title {
    text-align: center;
    color: #656afe;
    font-family: 'Kindest';
    width: 40vw;
    font-size: 12pt;
    transform: rotate(-3deg);
    background-color: #070F2B;
    padding: 20px;
    border: solid #FF204E 4px;
    border-radius: 30px;
    margin: auto;
    margin-top: 30px;
}

.button {
    text-align: center;
    color: #FF204E;
    font-family: 'Kindest';
    background-color: #070F2B;
    padding: 20px;
    border: solid #656afe 4px;
    border-radius: 20px;
    width: 30vw;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 20px;
}

.gif-wrapper {
    width: 80vw;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.gif-cont {
    width: 200px;
    display: inline-flex;
    justify-content: center;
    background-color: #070F2B;
    border: solid #656afe 5px;
    border-radius: 5px;
    margin: 10px;
}

.gif {
    width: 100%;
    height: auto;
}

.link {
color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}

.text-box {
    text-align: center;
    color: #656afe;
    font-family: 'Kindest';
    font-size: 14pt;
    background-color: #070F2B;
    padding: 20px;
    border: solid #FF204E 4px;
    border-radius: 20px;
    width: 60vw;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 25px;
    transform: rotate(3deg);
}

.tag-you {
    color: #656afe;
    background-color: #070F2B;
    border: solid #FF204E 4px;
    text-align: center;
    font-family: 'Kindest';
    font-size: 12pt;
    padding: 10px;
    border-radius: 10px;
    width: 50px;
    margin: auto;
    margin-bottom: 20px;
}

.tag-friend {
    color: #656afe;
    background-color: #070F2B;
    border: solid #FF204E 4px;
    text-align: center;
    font-family: 'Kindest';
    font-size: 12pt;
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    margin: auto;
    margin-bottom: 20px;
}
.cont1 {
    transform: rotate(-5deg);
    margin-right: 20px;
}
.cont2 {
    transform: rotate(5deg);
    margin-left: 20px;
}


