body {
    background-color: #5B4343;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    /* background-color: black; */
    /* min-height: 100%; */
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-left: 10%;
}

.title {
    text-align: center;
    margin-top: 100px;
    color: rgb(241, 215, 215);
}

.grid {
    /* background-color:white; */
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    width: 33%;
    height: 50%;
    flex-direction: row;
}

.sticker {
    max-width: 75%;
    height: auto;
    text-align: center;
    margin: auto;
  }

footer {
    position: absolute;
    background-color: transparent;
    padding: 2em;
    top: 160vh;
}

img {
    max-width: 100%;
    height: auto;
    text-align: center;
    margin: auto;
    margin-top: 6px;
  }

.lugrasimo-regular {
    font-family: "Lugrasimo", cursive;
    font-weight: 400;
    font-style: normal;
  }

.opener {
    text-align: center;
    color: #FFF1D8;
    position: absolute;
    font-size: 11pt;
    margin: auto;
    margin-top: 50px;
    width: 100%;
}

.descwrapper {
    position: absolute;
    left: -25vw;

}

.desc1 {
    text-align: center;
    color: #FFF1D8;
    position: absolute;
    font-size: 11px;
    margin: 5px;
    margin-top: 20px;
    width: 70vw;
    left: 0vw;
    top: 170px;
}

.desc2 {
    text-align: center;
    color: #FFF1D8;
    position: absolute;
    font-size: 11px;
    margin: 5px;
    margin-top: 20px;
    width: 70vw;
    left: 0vw;
    top: 370px;
}

.desc3 {
    text-align: center;
    color: #FFF1D8;
    position: absolute;
    font-size: 11px;
    margin: 5px;
    margin-top: 20px;
    width: 70vw;
    left: 0vw;
    top: 550px;
}

.basecardwrapper {
    top: 225px;
    position: absolute;
    left: 47%;
}

.basecard {
    position:absolute;
    height: 125px;
    width: 75px;
    border-radius: 10%;
    background-color: #222222;
    opacity: 0.8;
    background-image:  linear-gradient(135deg, #222222 25%, transparent 25%), linear-gradient(225deg, #9C003D 25%, transparent 25%), linear-gradient(45deg, #63585E 25%, transparent 25%), linear-gradient(315deg, #222222 25%, #FFF1D8 25%);
    background-position:  10px 0, 10px 0, 0 0, 0 0;
    background-size: 10px 10px;
    background-repeat: repeat;
}

.basecard-home {
    position: absolute;
    height: 125px;
    width: 75px;
    border-radius: 10%;
    background-color: #222222;
    opacity: 0.8;
    background-image:  linear-gradient(135deg, #222222 25%, transparent 25%), linear-gradient(225deg, #9C003D 25%, transparent 25%), linear-gradient(45deg, #63585E 25%, transparent 25%), linear-gradient(315deg, #222222 25%, #FFF1D8 25%);
    background-position:  10px 0, 10px 0, 0 0, 0 0;
    background-size: 10px 10px;
    background-repeat: repeat;
}

.button {
    margin: auto;
    margin-top: 50px;
    height: 20px;
    width: 60px;
    background-color:  #FFF1D8;
    padding: 0vw;
    border-radius: 5%;
    border: solid 1px #9C003D;
    color: #9C003D;
    font-size: 1rem;
    text-align: center;
    animation: fade-in;
    animation-duration: 4s;
    animation-direction: reverse;
}

.basecard-home:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

.cardwrapper {
    position:absolute;

    top: 150px;
    animation-name: card-move;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: reverse;
}

.card {
    position: absolute;
    height: 125px;
    width: 75px;
    background-color: #222222;
    opacity: 0.8;
    background-image:  linear-gradient(135deg, #222222 25%, transparent 25%), linear-gradient(225deg, #9C003D 25%, transparent 25%), linear-gradient(45deg, #63585E 25%, transparent 25%), linear-gradient(315deg, #222222 25%, #FFF1D8 25%);
    background-position:  10px 0, 10px 0, 0 0, 0 0;
    background-size: 10px 10px;
    background-repeat: repeat;
    border-radius: 10%;
    animation-name: card-spread;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: reverse;
}

#cardchange {}

#cardchange:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

#cardlove {
    transform-origin: 50% 50%;
    transform: rotate(-20deg);
    left: -125px;
    top: 50px;
}

#cardlove:hover {
    transform: scale(1.2)rotate(-20deg); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

#cardself {
    transform-origin: 50% 50%;
    transform: rotate(20deg);
    left: 125px;
    top: 50px;
}

#cardself:hover {
    transform: scale(1.2)rotate(20deg); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

@keyframes fade-in {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
  }

.fade-in {
    animation: fade-in;
    animation-duration: 4s;
    animation-direction: reverse;
  }

@keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  .fade-out {
    animation: fade-out;
    animation-duration: 2s;
    opacity: 0;
  }

@keyframes card-move {
    0%   {}
    50%  {}
    100% {top: 0;}
  }

@keyframes card-spread {
    0%   {}
    50%  {transform: rotate(0deg);left: 0;top: 0;}
    100% {transform: rotate(0deg);left: 0;top: 0;}
  } 

.cardstyles {
    /*  very important  */
    backface-visibility: hidden;
    position: absolute;
    transition: 1s;
  }

@keyframes flip {
    0%   {}
    25%  {transform: perspective(200px) rotateY(0deg);}
    50%  {transform: perspective(200px) rotateY(0deg);}
    100% {transform: perspective(200px) rotateY(0deg);}
  } 

@keyframes left {
    0%   {}
    100% {transform: rotate(-20deg);left: -125px;top: 50px;}
  }

@keyframes center {
    0%   {}
    100% {left: 0px;top: 0px;}
  } 

@keyframes right {
    0%   {}
    100% {transform: rotate(20deg);left: 125px;top: 50px;}
  } 


/* START LOVE PAGE */

.cardwrapper-love {
    position:absolute;
    top: 150px;
    transition: 1s;
    /*  very important  */
    transform-style: preserve-3d;
    animation-name: flip;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: reverse;
    transform: perspective(200px) rotateY(180deg);
    transform-origin: -35vw 0vw;
}

.cardlove-back {
    position: absolute;
    height: 125px;
    width: 75px;
    background-color: #222222;
    opacity: 0.8;
    background-image:  linear-gradient(135deg, #222222 25%, transparent 25%), linear-gradient(225deg, #9C003D 25%, transparent 25%), linear-gradient(45deg, #63585E 25%, transparent 25%), linear-gradient(315deg, #222222 25%, #FFF1D8 25%);
    background-position:  10px 0, 10px 0, 0 0, 0 0;
    background-size: 10px 10px;
    background-repeat: repeat;
    border-radius: 10%;
}

.cardlove-front {
    position: absolute;
    height: 125px;
    width: 75px;
    background-color: #FFF1D8;
    border-radius: 10%;
    transform: rotateY(180deg);
}
  

#cardlovers-back {
    left: -40vw;
    top: 10px;
    animation-name: left;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: reverse;
}

#cardhermit-back {
    left: -40vw;
    top: 200px;
    animation-name: center;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: reverse;
}

#cardempress-back {
    left: -40vw;
    top: 390px;
    animation-name: right;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: reverse;
}

#cardlovers-front {
    left: -40vw;
    top: 10px;
}

#cardhermit-front {
    left: -40vw;
    top: 200px;
}

#cardempress-front {
    left: -40vw;
    top: 390px;
}

  /* END LOVE PAGE */

/* START SELF PAGE */

.cardwrapper-self {
    position:absolute;
    top: 150px;
    transition: 1s;
    /*  very important  */
    transform-style: preserve-3d;
    animation-name: flip;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: reverse;
    transform: perspective(200px) rotateY(180deg);
    transform-origin: -35vw 0vw;
}

.cardself-back {
    position: absolute;
    height: 125px;
    width: 75px;
    background-color: #222222;
    opacity: 0.8;
    background-image:  linear-gradient(135deg, #222222 25%, transparent 25%), linear-gradient(225deg, #9C003D 25%, transparent 25%), linear-gradient(45deg, #63585E 25%, transparent 25%), linear-gradient(315deg, #222222 25%, #FFF1D8 25%);
    background-position:  10px 0, 10px 0, 0 0, 0 0;
    background-size: 10px 10px;
    background-repeat: repeat;
    border-radius: 10%;
}

.cardself-front {
    position: absolute;
    height: 125px;
    width: 75px;
    background-color: #FFF1D8;
    border-radius: 10%;
    transform: rotateY(180deg);
}
  

#carddevil-back {
    left: -40vw;
    top: 10px;
    animation-name: left;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: reverse;
}

#cardhangedman-back {
    left: -40vw;
    top: 200px;
    animation-name: center;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: reverse;
}

#cardtemperance-back {
    left: -40vw;
    top: 390px;
    animation-name: right;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: reverse;
}

#carddevil-front {
    left: -40vw;
    top: 10px;
}

#cardhangedman-front {
    left: -40vw;
    top: 200px;
}

#cardtemperance-front {
    left: -40vw;
    top: 390px;
}

  /* END SELF PAGE */

  /* START CHANGES PAGE */

.cardwrapper-change {
    position:absolute;
    top: 150px;
    transition: 1s;
    /*  very important  */
    transform-style: preserve-3d;
    animation-name: flip;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: reverse;
    transform: perspective(200px) rotateY(180deg);
    transform-origin: -35vw 0vw;
}

.cardchange-back {
    position: absolute;
    height: 125px;
    width: 75px;
    background-color: #222222;
    opacity: 0.8;
    background-image:  linear-gradient(135deg, #222222 25%, transparent 25%), linear-gradient(225deg, #9C003D 25%, transparent 25%), linear-gradient(45deg, #63585E 25%, transparent 25%), linear-gradient(315deg, #222222 25%, #FFF1D8 25%);
    background-position:  10px 0, 10px 0, 0 0, 0 0;
    background-size: 10px 10px;
    background-repeat: repeat;
    border-radius: 10%;
}

.cardchange-front {
    position: absolute;
    height: 125px;
    width: 75px;
    background-color: #FFF1D8;
    border-radius: 10%;
    transform: rotateY(180deg);
}
  

#cardtower-back {
    left: -40vw;
    top: 10px;
    animation-name: left;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: reverse;
}

#cardwheel-back {
    left: -40vw;
    top: 200px;
    animation-name: center;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: reverse;
}

#carddeath-back {
    left: -40vw;
    top: 390px;
    animation-name: right;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: reverse;
}

#cardtower-front {
    left: -40vw;
    top: 10px;
}

#cardwheel-front {
    left: -40vw;
    top: 200px;
}

#carddeath-front {
    left: -40vw;
    top: 390px;
}

  /* END CHANGES PAGE */