body {
    background-color: #9C003D;
}

.basecardwrapper {
    top: 10vw;
    position: absolute;
    left: 42.5vw;
}

.basecard {
    position:absolute;
    height: 23vw;
    width: 15vw;
    background-color: darkblue;
    border-radius: 10%;
}

.cardwrapper {
    position:absolute;
    left: 42.5vw;
    top: 40vw;
    animation-name: card-move;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: reverse;
}

.card {
    position: absolute;
    height: 23vw;
    width: 15vw;
    background-color: darkblue;
    border-radius: 10%;
    animation-name: card-spread;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: reverse;
}

#cardchange {
    
}

#cardlove {
    transform-origin: 50% 50%;
    transform: rotate(-20deg);
    left: -30vw;
    top: 5vw;
}

#cardself {
    transform-origin: 50% 50%;
    transform: rotate(20deg);
    left: 30vw;
    top: 5vw;
}


@keyframes card-move {
    0%   {}
    50%  {}
    100% {top: 10vw;}
  }

@keyframes card-spread {
    0%   {}
    50%  {transform: rotate(0deg);left: 0;top: 0;}
    100% {transform: rotate(0deg);left: 0;top: 0;}
  } 

/* START LOVE PAGE */

.cardstyles {
    /*  very important  */
    backface-visibility: hidden;
    position: absolute;
    transition: 1s;
  }

.cardwrapper-love {
    position:absolute;
    left: 42.5vw;
    top: 40vw;
    transition: 1s;
    /*  very important  */
    transform-style: preserve-3d;
    animation-name: love-flip;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: reverse;
    transform: perspective(200px) rotateY(180deg);
    transform-origin: -24vw 0vw;
}

@keyframes love-flip {
    0%   {}
    25%  {transform: perspective(200px) rotateY(0deg);}
    50%  {transform: perspective(200px) rotateY(0deg);}
    100% {transform: perspective(200px) rotateY(0deg);}
  } 

.cardlove-back {
    position: absolute;
    height: 23vw;
    width: 15vw;
    background-color: darkblue;
    border-radius: 10%;
}

.cardlove-front {
    position: absolute;
    height: 23vw;
    width: 15vw;
    background-color: darkgreen;
    border-radius: 10%;
    transform: rotateY(180deg);
}
  

#cardlovers-back {
    left: -30vw;
    top: 10vw;
    animation-name: lovers;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: reverse;
}

#cardhermit-back {
    left: -30vw;
    top: 35vw;
    animation-name: hermit;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: reverse;
}

#cardempress-back {
    left: -30vw;
    top: 60vw;
    animation-name: empress;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: reverse;
}

#cardlovers-front {
    left: -30vw;
    top: 10vw;
}

#cardhermit-front {
    left: -30vw;
    top: 35vw;
}

#cardempress-front {
    left: -30vw;
    top: 60vw;
}

@keyframes lovers {
    0%   {}
    100% {transform: rotate(-20deg);left: -30vw;top: 5vw;}
  }

@keyframes hermit {
    0%   {}
    100% {left: 0vw;top: 0vw;}
  } 

@keyframes empress {
    0%   {}
    100% {transform: rotate(20deg);left: 30vw;top: 5vw;}
  } 

  /* END LOVE PAGE */

.cardwrapper-self {
    position:absolute;
    left: 42.5vw;
    top: 40vw;
}

.cardself {
    position: absolute;
    height: 23vw;
    width: 15vw;
    background-color: darkblue;
    border-radius: 10%;
}

#carddevil {
    left: -30vw;
    top: 10vw;
    animation-name: devil;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: reverse;
}

#cardhangedman {
    left: -30vw;
    top: 35vw;
    animation-name: hangedman;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: reverse;
}

#cardtemperance {
    left: -30vw;
    top: 60vw;
    animation-name: temperance;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: reverse;
}

@keyframes devil {
    0%   {}
    100% {transform-origin: 50% 50%;transform: rotate(-20deg);left: -30vw;top: 5vw;}
  }

@keyframes hangedman {
    0%   {}
    100% {left: 0vw;top: 0vw;}
  } 

@keyframes temperance {
    0%   {}
    100% {transform-origin: 50% 50%;transform: rotate(20deg);left: 30vw;top: 5vw;}
  } 

.cardwrapper-change {
    position:absolute;
    left: 42.5vw;
    top: 40vw;
}

.cardchange {
    position: absolute;
    height: 23vw;
    width: 15vw;
    background-color: darkblue;
    border-radius: 10%;
}

#cardtower {
    left: -30vw;
    top: 10vw;
    animation-name: tower;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: reverse;
}

#cardwheel {
    left: -30vw;
    top: 35vw;
    animation-name: wheel;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: reverse;
}

#carddeath {
    left: -30vw;
    top: 60vw;
    animation-name: death;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: reverse;
}

@keyframes tower {
    0%   {}
    100% {transform-origin: 50% 50%;transform: rotate(-20deg);left: -30vw;top: 5vw;}
  }

@keyframes wheel {
    0%   {}
    100% {left: 0vw;top: 0vw;}
  } 

@keyframes death {
    0%   {}
    100% {transform-origin: 50% 50%;transform: rotate(20deg);left: 30vw;top: 5vw;}
  } 